<div class= "col-md-8">

<h1>Tasks</h1>

<% if user_signed_in? %>
<% @items.each do |item| %>
<h2><%= item.title %></h2>
<p><%= item.description %></p>
<% end %>
<% else %>
<%= render 'welcome_page' %>
<% end %>

<%= link_to "New Task", new_item_path %>

</div>